<!-- FOOTER -->
<footer class="footer footer-expand-lg footer-dark bg-dark text-center text-white margin mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 mb-3">
                <h4 class="text-uppercase mb-4">About This Website</h4>
                <p class="lead mb-0">A Django Based Personal Portfolio Website Created By,
                    <b><i>Arnab Gupta</i></b>
                </p>
            </div>
            <div class="col-md-6 mb-5 mb-lg-0 mt-3 mb-3">
                <h4 class="text-uppercase mb-4">Current Location : </h4>
                <p class="lead mb-0">Kolkata, India
                    <br></p>
            </div>
            <div class="col-md-6 mb-5 mb-lg-0 mt-3 mb-3">
                <h4 class="text-uppercase mb-4">Social Media Links : </h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://github.com/ar7py" class="btn btn-outline-success btn-social text-center rounded-circle">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-outline-success btn-social text-center rounded-circle">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-outline-success btn-social text-center rounded-circle">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 mt-3 mb-3 text-center text-white">
                <i class="far fa-copyright"> Copyright</i>
            </div>
        </div>
    </div>
</footer>