{% extends 'pfapp/base.html' %}
{% block content %}
<div class="row mt-2">
    <div class="col-md-4">
        <div class="container mt-4">
            <img class="img-fluid mb-3 d-block mx-auto rounded-circle border border-success " src="/static/img/AG.jpg" height="120px" width="120px" alt=""></img>
            <h3 class="text-uppercase mb-0 text-dark text-center mt-3">Arnab Gupta</h3>
            <h5 class="font-weight-dark mb-0 text-dark text-center mt-3">Web Designer - Web Devaloper - </h5>
            <h5 class="font-weight-dark mb-0 text-dark text-center mt-3">Python - Django</h5>
            <p class="ml-2 mt-3 text-center"><i class="far fa-envelope">Email : </i> arnab.gupta.ar7@gmail.com</p>
        </div>
    </div>
    <div class="col-md-7">
        <h5 class="text-uppercase mb-0 text-dark mt-4"><b>Education</b></h5>
        <div class="card mt-3">
            <div class="card-body">
                <div class="mt-3">
                    <p><i class="fas fa-user-graduate">Diploma In Computer Science And Engineering,</i></p>
                    <p><i>Techno India University, 2015-2018 </i></p>
                    <p><i class="fas fa-user-graduate"> B.Tech In Computer Science And Engineering,</i></p>
                    <p><i>Techno India University, 2018-2021</i></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-5">
            <h5 class="text-uppercase mb-0 text-dark mt-4"><b>Certifications And Professional Development</b></h5>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text-dark mt-3"><i class="fas fa-check"> Python Programming</i></h5>
                    <p>Udemy, Nov 30 2020</p>
                    <a class="btn btn-outline-success text-dark float-right" href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-0813cc5e-2bd2-4643-a42b-fff643c05f9f.pdf">View Certificate</a>
                </div>
            </div>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text-dark mt-3"><i class="fas fa-check"> Ethical Hacking From Scratch</i></h5>
                    <p>Udemy, Oct 21 2020</p>
                    <a class="btn btn-outline-success text-dark float-right" href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-3e2b3e26-5685-49d5-9a9d-4acdb614bc9e.pdf">View Certificate</a>
                </div>
            </div>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text-dark mt-3"><i class="fas fa-check"> Website Hacking/Penetration Testing</i></h5>
                    <p>Udemy, Nov 8 2020</p>
                    <a class="btn btn-outline-success text-dark float-right" href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-c700874d-ee07-4f2e-8874-c66f0d77a2c9.pdf">View Certificate</a>
                </div>
            </div>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text-dark mt-3"><i class="fas fa-check"> Python For Ethical Hacking From Scratch</i></h5>
                    <p>Udemy, Dec 3 2020 </p>
                    <a class="btn btn-outline-success text-dark float-right" href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-d3e23e87-5d34-4634-b4a7-cc773092e562.pdf">View Certificate</a>
                </div>
            </div>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text-dark mt-3"><i class="fas fa-check"> Training On Ethical Hacking</i></h5>
                    <p>Internshala, Jan 13 2021 </p>
                    <a class="btn btn-outline-success text-dark float-right" href="https://trainings.internshala.com/s/v/124353/b8d656e9">View Certificate</a>
                </div>
            </div>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text-dark mt-3"><i class="fas fa-check"> Web Developer Boot-camp 2021</i></h5>
                    <p>Udemy, Jun 2 2021 </p>
                    <a class="btn btn-outline-success text-dark float-right" href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-bcf4d05f-3ca1-4513-a670-701870c01593.pdf">View Certificate</a>
                </div>
            </div>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h5 class="text-dark mt-3"><i class="fas fa-check"> Python And Django Full Stack Web Developer Bootcamp</i></h5>
                    <p>Udemy, Sept 23 2021 </p>
                    <a class="btn btn-outline-success text-dark float-right" href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-ad8611fc-4617-48ee-9ee7-1ff0edd070b4.pdf">View Certificate</a>
                </div>
            </div>
            <hr class="mt-3">
            <section class="text-white mb-0 margin" id="about">
                <h5 class="text-uppercase mb-0 text-dark mt-4"><b>Skills</b></h5>
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col-lg-6 ml-auto about-1">
                                <ul class="mt-3">
                                    <li> Python</li>
                                    <li> Django</li>
                                    <li> HTML</li>
                                    <li> CSS</li>
                                    <li> JavaScript</li>
                                    <li> Bootstrap</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 mr-auto about-2">
                                <ul class="mt-3">
                                    <li> Python</li>
                                    <li> Django</li>
                                    <li> HTML</li>
                                    <li> CSS</li>
                                    <li> JavaScript</li>
                                    <li> Bootstrap</li>
                                </ul>                            
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <a class="btn btn-success btn-xl btn-cv" href="#">
                                <i class="fas fa-file-download"> Download CV</i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="row justify-content-center margin">
    <div class="pflink">
        <a href="{% url 'portfolio' %}" class="btn btn-outline-success text-dark">Check Portfolio</a>
    </div>
</div>
{% endblock %}